<%= provide :leftbar do %>
<aside class="flex-shrink-0 w-64 flex flex-col border-r transition-all duration-300 bg-gray-100" :class="{ '-ml-64': !sidebarOpen }">
  <nav class="flex-1 flex flex-col bg-gray-100 fixed z-10 w-64 h-full top-0 divide-y">
    <p class="flex items-center text-lg italic py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 bg-gray-100  ease-in-out mb-4 mt-2"> Catalogue name </p>
    <div id="catalogue" class="overflow-scroll">

      <ul class="shadow-box">	
      <% Category.all.each do |category|%>				
        <li class="relative border-b border-gray-200" x-data="{selected:null}">
          <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 1 ? selected = 1 : selected = null">
            <div class="flex items-center justify-between">
              <span class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded  ease-in-out">
                  <%= category.title %>            
              </span>
            </div>
          </button>
          <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container1" x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
            <div class="p-6">
                <% category.subcats.each do |subcat| %>
                  <%= link_to subcat.title, subcat_path(subcat), class:"flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded bg-gray-200 mb-2 ease-in-out" %>
                <% end %>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
    <!--Close Button-->

    <button x-on:click="sidebarOpen = !sidebarOpen" class="absolute top-0 right-0 bottom-0 left-0">   
      <!-- open icon -->    
      <svg x-show="!sidebarOpen" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 absolute top-4 left-64 bg-gray-100 rounded-r-lg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
      </svg>    
      <!-- close icon -->   
      <svg x-show="sidebarOpen" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 absolute top-4 left-64 bg-gray-100 rounded-r-lg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
      </svg>
    </button>
  </nav>
</aside>
<% end %>