<%= provide :leftbar do %>
<div>
  <aside class="flex-shrink-0 w-64 flex flex-col border-r transition-all duration-300 bg-gray-100" :class="{ '-ml-64': !sidebarOpen }">
    <nav class="flex-1 flex flex-col bg-white mt-12 absolute w-64">
      <p class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-300 bg-gray-100 transition duration-300 ease-in-out"> Hello </p>
      <p class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-300 bg-gray-100 transition duration-300 ease-in-out"> Hello </p>
      <p class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-300 bg-gray-100 transition duration-300 ease-in-out"> goodbue </p>
      <p class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-300 bg-gray-100 transition duration-300 ease-in-out"> Fantana </p>
      <p class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-300 bg-gray-100 transition duration-300 ease-in-out"> monana </p>
      <p class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-300 bg-gray-100 transition duration-300 ease-in-out"> Hello </p>
      <p class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-300 bg-gray-100 transition duration-300 ease-in-out"> mine </p>
      <p class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-300 bg-gray-100 transition duration-300 ease-in-out"> Hello </p>
      <p class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-300 bg-gray-100 transition duration-300 ease-in-out"> Opiusur </p>
      <p class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-300 bg-gray-100 transition duration-300 ease-in-out"> Hello </p>
    </nav>
  </aside>
</div>
<% end %>