<%= provide :main_slider do %>
<div x-data="carousel()" class="relative">
      <img
        class="h-64 w-full object-cover object-center"
        :src="images[selected]"
        alt="mountains"
      />

      <button
        @click="if (selected > 0 ) {selected -= 1} else { selected = images.length - 1 }"
        class="absolute inset-y-0 left-0 px-2 py-[25%] h-full w-8 group hover:bg-gray-500 hover:bg-opacity-75 cursor-pointer"
      >
        <span class="hidden group-hover:block text-gray-50">
          &larr;
        </span>
      </button>
      <button
        @click="if (selected < images.length - 1  ) {selected += 1} else { selected = 0 }"
        class="absolute inset-y-0 right-0 px-2 py-[25%] h-full w-8 group hover:bg-gray-500 hover:bg-opacity-75 cursor-pointer"
      >
        <span class="hidden group-hover:block text-gray-50">
          &rarr;
        </span>
      </button>

      <div class="absolute bottom-0 w-full p-4 flex justify-center space-x-2">
        <template x-for="(image,index) in images" :key="index">
          <button
            @click="selected = index"
            :class="{'bg-gray-300': selected == index, 'bg-gray-500': selected != index}"
            class="h-2 w-2 rounded-full hover:bg-gray-300 ring-2 ring-gray-300"
          ></button>
        </template>
      </div>
    </div>
    <script>
      const carousel = () => {
        return {
          selected: 0,
          images: [
            "https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
            "https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
            "https://images.unsplash.com/photo-1500534314209-a25ddb2bd429?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80",
            "https://images.unsplash.com/photo-1486870591958-9b9d0d1dda99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
            "https://images.unsplash.com/photo-1485160497022-3e09382fb310?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
            "https://images.unsplash.com/photo-1472791108553-c9405341e398?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2137&q=80"
          ]
        };
      };
    </script>
<% end %>