<!-- <div class="w-50 h-full shadow-md bg-white px-1 relative">
  <div class="flex items-center text-lg py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-300 transition duration-300 ease-in-out">
    <p>Current category</p>
  </div>
    <ul class="relative">
      <% Category.all.each do |category| %>
      <li class="relative">
        <%= link_to category.title, category_path(category), class:"flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-200 transition duration-300 ease-in-out"%>
      </li>   
      <% end %>
    </ul>
</div> -->

<div x-data="{ sidebarOpen: true }" class="flex overflow-x-hidden h-screen">
  <aside class="flex-shrink-0 w-64 flex flex-col border-r transition-all duration-300" :class="{ '-ml-64': !sidebarOpen }">
    <div class="h-64 bg-gray-900"></div>
    <nav class="flex-1 flex flex-col bg-white">
      <a href="#" class="p-2">Nav Link 1</a>
      <a href="#" class="p-2">Nav Link 2</a>
      <a href="#" class="p-2">Nav Link 3</a>
    </nav>
  </aside>
  <div class="flex-1">
    <header class="flex items-center p-4 text-semibold text-gray-100 bg-gray-900">
      <button class="p-1 mr-4" @click="sidebarOpen = !sidebarOpen">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
      Header
    </header>
    <main class="p-4">
      
    </main>
  </div>
</div>
